body{
    font-family: Arial, sans-serif;
}
header{
    text-align: center;
    padding: 10px;
    background-color:#ccc;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
section{
    margin: 20px;
}
.project{
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}
h1 h2 {
    color: #333;

}
#bio, #work{
    background-color: #e9e9e9;
    padding: 15px;
}
footer{
    background-color:green;
    text-align: center;
    padding: 10px;
}
div text{
    align-items: center;
    border: black;
    background-color: aqua;
}
.form{
   
    display: inline-block;
    text-align: center;
    line-height: 200px;
}
div aman{
    text-align: center;
}
h6{
    background-color: blue;
    color: azure;
    text-align: center;
}
H3{
     background-color: rgb(226, 22, 199);
    color: azure;
    text-align: center;
}
H4{
    background-color: chartreuse;
    color: blueviolet;
    text-align: left;
}
h2{
    background-color:royalblue;
    color: blueviolet;
    text-align: left;
}
img{
     width: 200px;
    height: 200px;
   
}

